name: "hello  world workflow"

on:
  push:
    branches:
      - master

jobs:
  hello-world-job:
    runs-on: ubuntu-latest
    steps:
      - name: "Print Hello World"
        run: echo "Hello, World!"